*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
    gap: 10px;
    background-color: rosybrown;
    cursor: none;
}
main{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

main img{
    height: 50px;
    position: absolute;
}