*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right bottom, rgb(0, 0, 0, 18) , rgb(29, 33, 33));
    display: flex;
    justify-content: center;
    
}

.all-reels{
    width: 30%;
    border-radius: 10px;
    background-color: aliceblue;
     height: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}
.all-reels::-webkit-scrollbar{
    display: none;
}
.reels{
    height: 100%;
    scroll-snap-align: start;
    width: 100%;
    position: relative;
    overflow: hidden;

}
.reels video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.reels .bottom{
  padding: 30px 20px;
  background: linear-gradient(rgba(165, 163, 163, 0.105), rgba(32, 32, 32, 0.959));
  position: absolute;
  bottom: 0;
  width: 100%;
}
.bottom .user{
    display: flex;
    align-items: center;
    bottom: 0;
    gap: 19px;
    margin-bottom: 20px;
}
.user img{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
.user button{
    color: white;
    background-color: transparent;
    border-radius: 18px;
    border: 1px solid gold;
    padding: 10px 25px;
}

.right{
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translate(-25%, -60%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    font-size: 15px;
    
}
.right h1,h3{
    font-weight: 100;
    font-family: monospace;
}

.love{
    color: red;
}
