*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    padding: 10px;
   background-color: black;
}

.elem1{
    background-color: royalblue;
    padding: 10px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}
.elem1 h1{
    font-size: 40px;
    font-weight: 900;
    color: black;
}
.elem1 button{
    color: black;
    font-weight: 900;
    font-size: x-large;
    padding: 10px;
    background-color: brown;
}

