*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: black;
}

.box{
    height: 400px;
    width: 400px;
    background-color: rgb(150, 110, 150);
    border: 2px solid white;
 
}


button{
    padding: 10px 16px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(156, 99, 13);
    color: white; 
}

button:active{
    transform: scale(0.90);
}
