*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    gap: 10px;
    background-color: black;
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button{
    padding: 10px 16px;
    font-size: 30px;
    font-weight: 900;
    background-color: white;
    color:  black; 
    z-index: 9;
    
}

button:active{
    transform: scale(0.90);
}
