*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,body{
    height: 100%;
    width: 100%;
    gap: 10px;
    background-color: black;
    overflow: hidden;
}
main{
    height: 100%;
    width: 100%;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card{
    height: 200px;
    width: 430px;
    background-color: grey; 
    padding: 30px;
    border-radius: 20px;
}
.card p{
     margin-bottom: 10px;
     font-weight: 900;
     font-size: 15px;
}
.card span{
    font-size: 20px;
     color: blue;
     font-weight: 900;
}
.outer{
    width: 100%;
    height: 20px;
    background-color: antiquewhite;
    margin-bottom: 30px;
    border-radius: 10px;
}
.inner{
    height: 100%;
    width: 0%;
    background-color: green;
    border-radius: 10px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
button{
    padding: 10px 16px;
    font-size: 30px;
    font-weight: 900;
    background-color: white;
    color:  black; 
    z-index: 9;
    
}

button:active{
    transform: scale(0.90);
}
