*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    padding: 50px 40px;
    background-color: black;
    height: 100%;
    width: 100%;

}
#box{
    height: 400px;
    width:  400px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
}
button{
    font-size: 3rem;
    color: white;
    background-color: royalblue;
    margin: 50px;
    padding: 5px 30px;
}
