*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width:  100%;
    background-color: black;
     display: flex;
    justify-content: center;
    align-items: center;
}
.cursor{
    color: white;
    background-color: white;
    height: 25px;
    width: 25px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
     mix-blend-mode: difference;
    transition: all linear 0.3s;
   
}
h1{
    color: white;
    font-size: 150px;
    font-weight: 900;
}