*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    padding: 1rem;
    position: relative;
}
.elm{
    height: 180px;
    width: 100%;
    border-bottom: 2px solid grey;
    display: flex;
    align-items: center;
}

.elm h1{
    font-size: 5vw;
}
.elm img{
    height: 130px;
    width: 130px;
    position: absolute;
    opacity: 0;
    mix-blend-mode: difference;
    transition: all ease 0.4s;
}
