*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
    gap: 10px;
    background-color: rosybrown;
    cursor: none;
}
main{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    height: 200px;
    width: 300px;
    background-color: grey;
    padding: 60px;
}
h1{
    text-align: center;
    font-size: 90px;
}


