*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
    gap: 10px;
    background-color: royalblue;
}
main{
    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cards{
    height: 600px;
    width: 30%;
    border: 5px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
}
.cards img{
   height: 400px;
   width: 400px;
   object-fit: cover;
   opacity: 0.9;
   border: 3px solid navy;
   border-radius: 8px;
}
.cards h1{
    background-color: black;
    color: red;
    padding: 1rem;
    border-radius: 10px;
}
.cards h2{
    color: white;
    
}
.cards h3{
   text-align: center;
    color: white;
}

